<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"      
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:fragment="head" class="head">

    <!-- configuracion general -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fide-Teca 📚</title>

    <!-- boostrap css -->
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&family=Merriweather:wght@300;400;700;900&display=swap"rel="stylesheet"/>

    <!-- CSS -->
    <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="../../static/css/normalize.css" th:href="@{/css/styles.css}" />

    <!-- JAavaScript boostrap -->
    <script th:src="@{/js/scripts.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</head>
<body class="bg-body">
    <header th:fragment="header" class="header">
        <nav id="header-nav" class="navbar navbar-expand-lg px-3 mb-3">
            <div class="container-lg">
                <a class="navbar-brand" href="index.html">
                    Fide-Teca 📚
                </a>
                <button class="navbar-toggler d-flex d-lg-none order-3 p-2 border-0 shadow-none" type="button"
                    data-bs-toggle="offcanvas" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <svg class="navbar-icon" width="50" height="50">
                        <use xlink:href="#navbar-icon"></use>
                    </svg>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel">
                    <div class="offcanvas-header px-4 pb-0">
                        <a class="navbar-brand" href="index.html">
                            <img src="images/main-logo.png" class="logo">
                        </a>
                        <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close"
                            data-bs-target="#bdNavbar"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 gap-5 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" href="intro">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#company-services">Overview</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#video-player">Video</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#about-author">Author</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#testimonial-grid">Testimonial</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <footer th:fragment="footer" class=py-3>">
        <section class="text-center">
            <p>© 2025 FideTeca. Designed By <a href="https://github.com/erickbm2002/EjercicioPractico1_Erick_Barrientos_Montes" class="text-decoration-underline"> Erick Barrientos</a></p>
        </section>
    </footer>
</body>
</html>