<!DOCTYPE html>
<html>

<head>
    <title>Fide-Teca📚</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../resources/static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&family=Merriweather:wght@300;400;700;900&display=swap"
        rel="stylesheet">
</head>

<body class="bg-body" data-bs-spy="scroll" data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%"
    data-bs-smooth-scroll="true" tabindex="0">
    <header id="header" class="site-header text-black">
        <nav id="header-nav" class="navbar navbar-expand-lg px-3 mb-3">
            <div class="container-lg">
                <a class="navbar-brand" href="index.html">
                    Fide-Teca📚
                </a>
                <button class="navbar-toggler d-flex d-lg-none order-3 p-2 border-0 shadow-none" type="button"
                    data-bs-toggle="offcanvas" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <svg class="navbar-icon" width="50" height="50">
                        <use xlink:href="#navbar-icon"></use>
                    </svg>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="bdNavbar"
                    aria-labelledby="bdNavbarOffcanvasLabel">
                    <div class="offcanvas-header px-4 pb-0">
                        <a class="navbar-brand" href="index.html">
                            <img src="images/main-logo.png" class="logo">
                        </a>
                        <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas"
                            aria-label="Close" data-bs-target="#bdNavbar"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 gap-5 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" href="#intro">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#company-services">Sobre Nosotros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#video-player">Video</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../templates/biblioteca/fragmentos.html">Biblioteca</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#testimonial-grid">Formulario de quejas</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <section id="intro">
        <div class="container-lg">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="banner-content">
                        <h1 class="display-2 position-relative">Descubre una nueva imaginación <span
                                class="text-primary">con nuestra biblioteca web!</span>
                            <img src="../../resources/static/images/line-pattern.png" alt="pattern" class="position-absolute">
                        </h1>
                        <p>Descubre historias cautivadoras, amplía tus conocimientos y emprende nuevas aventuras..</p>
                        <a href="shop.html" class="btn btn-lg btn-outline-dark text-uppercase mt-3 rounded-pill">
                            <span class="text-uppercase">Ver biblioteca!</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="image-holder position-relative">
                        <img src="../../resources/static/images/banner-image1.png" alt="banner" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about-us">
        <div class="container-lg">
            <div class="row">
                <div class="col-lg-6">
                    <div class="image-holder">
                        <img src="../../resources/static/images/single-image1.png" alt="single" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="detail">
                        <div class="display-header">
                            <h2 class="display-4 text-primary">Sobre Nosotros</h2>
                            <p class="pb-3">Fideteca es una biblioteca digital y física dedicada a fomentar el hábito de la lectura y el acceso al conocimiento de
                            manera libre, ordenada y accesible. Nuestro objetivo es ofrecer a los lectores un espacio donde puedan explorar una
                            amplia colección de libros organizados por categorías, descubrir nuevas obras y compartir sus opiniones e inquietudes.
                            En Fideteca creemos que la lectura transforma, educa y conecta. Por ello, ponemos a disposición de los usuarios una
                            plataforma moderna e intuitiva donde pueden consultar los libros disponibles, conocer sus autores, gestionar préstamos y
                            enviar sugerencias o comentarios para mejorar continuamente nuestros servicios. </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="video-player" class="video overflow-hidden bg-secondary py-lg-8 my-lg-10">
        <div class="container-lg">
            <div class="row">
                <div class="col-lg-8 text-center mx-auto">
                    <div class="display-header">
                        <h2 class="display-4 text-primary mt-0">¿Porqué leer un libro?</h2>
                    </div>
                </div>
                <div class="video-content position-relative">
                    <div class="video-bg">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/OUPREg9FTIc?si=CXj-qKpAsO3nyFxq"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="form">
        <h4 class="text-center">Formulario de quejas</h4>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enombre">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Email</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Email">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Telefono</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Telefono">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Tipo</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Tipo">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Asunto</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Asunto">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Mensaje</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Mensaje">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Tratado</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Tratado">
        </div>
    </section>
    <footer id="footer" class="py-3">
       
        <div class="text-center">
            <p>© 2025 Fide-Teca📚. diseñado por <a href="https://github.com/erickbm2002/EjercicioPractico1_Erick_Barrientos_Montes" class="text-decoration-underline">
                    Erick Barrientos</a>
            </p>
        </div>
    </footer>
</body>

</html>